h1 {
    color: #008B8B;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 60px;
}
    
.img-circle {
    border-radius: 50%;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.nav {
    padding-left: 70px
}

.main {
    padding-right: 70px
}
