body, html {
    margin: 0;
    padding: 20px;
    font-size: 16px;
    font-family: 'noway', sans-serif;
    letter-spacing: 2.5px;
    background-color: white;
}
@font-face {
    font-family: noway;
    src: url(noway-regular-webfont.woff);
}

.nav{
    text-decoration: none;
    font-size: 120%;
    color: #ffc896;
}

.nav:hover{
    color: grey;
}

.nav.no-link:hover{
    color: #ffc896;
}

.link{
    text-decoration: none;
    color: #ffc896;
}

.link:hover{
    color: grey;
}

.nav:visited{
    color: grey;
}

img {
    padding: 20px;
}
